
body{
    background-color: #1b0808;
}

.Heading{
text-align: center;
font-size: xx-large;
font-weight: lighter;
font-family:babylonica;
color: #f7f4d3;
border-radius: 15px;
border-style:ridge;
border-color: #352110;
background-image: linear-gradient(#eab178, #e9c6ae91);
}

.FirstDiv{
text-align: center;
font-size: large;
font-weight: lighter;
font-family:sketchbook;
color:#b8490d;
background-image: linear-gradient(#eab178, #e9c6ae91 );
border-radius: 15px;
border-style: ridge;
border-color: #352110;
}


.SecondDiv{
    text-align: center;
    font-size: xx-large;
    font-family: sketchbook;
    color: #086f60;

}


p{
    font-family:babylonica;
    font-size: xx-large;
    text-align: center; 
    color:#f7f4d3
}

img{
    width: 250px;
    height:120px;
    align-items:center;
        border-radius:14px;
    border-width:100px;
    border-color: #f7f4d3;
}

.WebpageImg{
    width: 600px;
    height:400px;
}

h3{
    font-family: filamental;
    text-align: center;
    color: #ffffff;
}

.Credits{
    font-size: smaller;
    font-family:sketchbook;
}

.Kenya{
    color: #c44c15;
}


.Vietnam{
    color: #c27f21;
}

.CapeVerde{
    color: #dcd697;
}

.Laos{
    color: #8ea569;
}

.Bolivia{
    color: #0d91ce;
}

.HeadingK{
    color:#c44c15;
    font-family:babylonica;
    text-align: center;
    font-size: xx-large;
}

.HeadingV{
 color:#c27f21;
    font-family:babylonica;
    text-align: center;
    font-size: xx-large;   
}

.HeadingC{
  color:#dcd697;
    font-family:babylonica;
    text-align: center;
    font-size: xx-large;      
}

.HeadingL{
 color: #8ea569;
    font-family:babylonica;
    text-align: center;
    font-size: xx-large;         
}

.HeadingB{
  color: #0d91ce;
    font-family:babylonica;
    text-align: center;
    font-size: xx-large;         
}
a{
    color: #0d91ce;
}


@font-face {
    font-family:sketchbook;
    src: url(SKETCHBO.TTF);
}

@font-face {
    font-family:babylonica;
    src: url(Babylonica-Regular.ttf);
}

@font-face {
    font-family: barbie;
    src: url(BARBJSH_.TTF);
}

@font-face {
    font-family: filamental;
    src: url(Filamental.ttf);
}

@font-face {
    font-family: sometimes;
    src: url(Sometimes.ttf);
}

@font-face {
    font-family: anke;
    src: url(ankecallig-fg.ttf);
}

@font-face {
    font-family: kindergarten;
    src: url(kindergarten.ttf);
}