
body{
    background-color: #76572c;
}

.Subheading{
text-align: center;
font-size: xx-large;
font-weight: lighter;
font-family:sketchbook;
color: #351E10;
background-color: #674a22;
border-radius: 15px;
border-style:dotted;
}

.Heading{
text-align: center;
font-size: x-large;
font-weight: lighter;
color: #351E10;
background-color: #674a22;
border-radius: 15px;
border-style:dotted;
}

.Brief{
text-align: center;
font-size: medium;
font-weight: lighter;
color: #351E10;
border-radius: 15px;
}